circle-progress{
    margin-left: 10 px;
    padding: 30px;

}

.Habil h4{
    margin-left: 10px;
    font-style: italic;
    font-size:40px;
}
/*
#g1{
    padding: 20px;
}

#g2{
    padding: 40px;
}

#g3{
    padding: 20px;
}

#g4{
    padding: 40px;
}*/