<div class="Habil" id="habil">
  
    <h4>Habilidades</h4>
   <!-- <div class="graf1-2" id="g12">
        <img src="../../../assets/imagenes/Automat.jpg" alt="" height="264" id="g1">
        <img src="../../../assets/imagenes/Program.jpg" alt="" height="264" id="g2">
        
    </div>
    
    <div class="graf3-4" id="g34">
        <img src="../../../assets/imagenes/Software.jpg" alt="" height="264" id="g3">
        <img src="../../../assets/imagenes/Ingles.jpg" alt="" height="264" id="g4" >
    </div>   --> 
         
</div>
<h2 id="hab5">Habilidades Blandas</h2>
<circle-progress id="pr17"
[percent]="95"
[radius]="80"
[outerStrokeWidth]="7"
[innerStrokeWidth]="2"
[title]="'Trabajo en Equipo'"
[titleFontSize]="'15'"
[showUnits]="false"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="600"
></circle-progress>
<circle-progress id="pr18"
[percent]="80"
[radius]="80"
[outerStrokeWidth]="7"
[innerStrokeWidth]="2"
[title]="'Cap. de Comunicacion'"
[titleFontSize]="'15'"
[showUnits]="false"
[outerStrokeColor]="'blue'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="600"
></circle-progress>
<circle-progress id="pr19"
[percent]="100"
[radius]="80"
[outerStrokeWidth]="7"
[innerStrokeWidth]="2"
[title]="'Seguir Aprendiendo'"
[titleFontSize]="'15'"
[showUnits]="false"
[outerStrokeColor]="'red'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="600"
></circle-progress>
<h2 id="hab1">Automatizacion</h2>
<circle-progress id="pr1"
[percent]="95"
[radius]="60"
[outerStrokeWidth]="7"
[innerStrokeWidth]="2"
[title]="'Variadores'"
[titleFontSize]="'15'"
[showUnits]="false"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="600"
></circle-progress>
<circle-progress id="pr2"
[percent]="80"
[radius]="60"
[outerStrokeWidth]="7"
[innerStrokeWidth]="2"
[title]="'Sist de Control'"
[titleFontSize]="'15'"
[showUnits]="false"
[outerStrokeColor]="'blue'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="600"
></circle-progress>
<circle-progress id="pr3"
[percent]="100"
[radius]="60"
[outerStrokeWidth]="7"
[innerStrokeWidth]="2"
[title]="'Electromecanica'"
[titleFontSize]="'15'"
[showUnits]="false"
[outerStrokeColor]="'red'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="600"
></circle-progress>
<circle-progress id="pr4"
[percent]="80"
[radius]="60"
[outerStrokeWidth]="7"
[innerStrokeWidth]="2"
[title]="'PLC'"
[titleFontSize]="'15'"
[showUnits]="false"
[outerStrokeColor]="'orange'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="600"
></circle-progress>
<h2 id="hab2">Software Embebido</h2>
<circle-progress id="pr5"
[percent]="95"
[radius]="60"
[outerStrokeWidth]="7"
[innerStrokeWidth]="2"
[title]="'Assembler'"
[titleFontSize]="'15'"
[showUnits]="false"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="600"
></circle-progress>
<circle-progress id="pr6"
[percent]="95"
[radius]="60"
[outerStrokeWidth]="7"
[innerStrokeWidth]="2"
[title]="'Arduino'"
[titleFontSize]="'15'"
[showUnits]="false"
[outerStrokeColor]="'blue'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="600"
></circle-progress>
<circle-progress id="pr7"
[percent]="80"
[radius]="60"
[outerStrokeWidth]="7"
[innerStrokeWidth]="2"
[title]="'C'"
[titleFontSize]="'15'"
[showUnits]="false"
[outerStrokeColor]="'red'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="600"
></circle-progress>
<circle-progress id="pr8"
[percent]="50"
[radius]="60"
[outerStrokeWidth]="7"
[innerStrokeWidth]="2"
[title]="'FPGA'"
[titleFontSize]="'15'"
[showUnits]="false"
[outerStrokeColor]="'orange'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="600"
></circle-progress>

<h2 id="hab3">Software Utilitarios</h2>
<circle-progress id="pr9"
[percent]="90"
[radius]="60"
[outerStrokeWidth]="7"
[innerStrokeWidth]="2"
[title]="'Proteus'"
[titleFontSize]="'15'"
[showUnits]="false"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="600"
></circle-progress>
<circle-progress id="pr10"
[percent]="50"
[radius]="60"
[outerStrokeWidth]="7"
[innerStrokeWidth]="2"
[title]="'Altium'"
[titleFontSize]="'15'"
[showUnits]="false"
[outerStrokeColor]="'blue'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="600"
></circle-progress>
<circle-progress id="pr11"
[percent]="70"
[radius]="60"
[outerStrokeWidth]="7"
[innerStrokeWidth]="2"
[title]="'Orcad'"
[titleFontSize]="'15'"
[showUnits]="false"
[outerStrokeColor]="'red'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="600"
></circle-progress>
<circle-progress id="pr12"
[percent]="50"
[radius]="60"
[outerStrokeWidth]="7"
[innerStrokeWidth]="2"
[title]="'SolidWorks'"
[titleFontSize]="'15'"
[showUnits]="false"
[outerStrokeColor]="'orange'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="600"
></circle-progress>

<circle-progress id="pr13"
[percent]="80"
[radius]="60"
[outerStrokeWidth]="7"
[innerStrokeWidth]="2"
[title]="'Paq Office'"
[titleFontSize]="'15'"
[showUnits]="false"
[outerStrokeColor]="'green'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="600"
></circle-progress>

<h2 id="hab4">Nivel de Ingles</h2>
<circle-progress id="pr14"
[percent]="50"
[radius]="60"
[outerStrokeWidth]="7"
[innerStrokeWidth]="2"
[title]="'Oral'"
[titleFontSize]="'15'"
[showUnits]="false"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="600"
></circle-progress>
<circle-progress id="pr15"
[percent]="70"
[radius]="60"
[outerStrokeWidth]="7"
[innerStrokeWidth]="2"
[title]="'Escrito'"
[titleFontSize]="'15'"
[showUnits]="false"
[outerStrokeColor]="'blue'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="600"
></circle-progress>
<circle-progress id="pr16"
[percent]="95"
[radius]="60"
[outerStrokeWidth]="7"
[innerStrokeWidth]="2"
[title]="'Lectura'"
[titleFontSize]="'15'"
[showUnits]="false"
[outerStrokeColor]="'red'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="600"
></circle-progress>

