<!--<div class="container">-->
    <div class="logo">
        <img src="../../../assets/imagenes/APLogo2.png" id="logoAP">
    </div>

    <div class="red">
        <div id="redes" >
            <a 
                href="https://instagram.com/antoniorivero1104?gshid=YmMyMTA2M2Y=">
                <img id="red1" src="assets/imagenes/Instagramr.png" alt="instagram">   
            </a>
            <a 
                href="https://www.facebook.com/antonio.rivero.5076?mibextid=ZbWKwL">
                <img id="red2" src="assets/imagenes/facebookr.png"  alt="Facebook">   
            </a>
            <a 
                href="https://twitter.com/Rivero11468?t=lozub_mRCzI7GrjtqRpcIA&s=09">
                <img id="red3" src="../../../assets/imagenes/twitterr.jpg"  alt="twitter">   
            </a>
            <a 
                href="https://www.linkedin.com/in/antonio-rivero-4a8b3a69">
                <img id="red4" src="assets/imagenes/linkedinr.jpg"  alt="linkedin">   
            </a>
            <a href="https://github.com/ariverogit"><img id="red5" src="../../../assets/imagenes/github1.png"   alt="github"></a>
            
        </div>
        <div id="logeo">
                
            <!--<a *ngIf=true routerLink="/login"  > -->   
                <a href="/login"  id="blogin" *ngIf="!islogged">   
                <img id="log1" src="assets/imagenes/login.jpg"  alt="login">
                
            </a>
        
            
            <a   class="fcc-btn"  href="/" *ngIf="islogged" >
                <img id="log2" src="assets/imagenes/Logout.jpg" alt="logout">
            </a>
            
        </div>
        
    </div>


<!--</div>-->
