<div>
    <h1 id="educ">Educacion</h1>
    <ul>
        <li>
            <h2 id="educ1">Universidad Nacional de Mar del Plata</h2>
            <h3 id="tit1">Ingeniero Electronico</h3>
        </li>
        <li>
            <h2 id="educ2">Escuela de Educacion Tecnica y Media Nro 3</h2>
            <h3 id="tit2">Tecnico Electromecanico</h3>
        </li>
        <li>
            <h2 id="educ3">Universidad Tecnologica Nacional </h2>
            <h3 id="tit3">Profesor en Disciplinas Industriales</h3>
        </li>npm
        <li>
            <h2 id="educ4">Escuela Jose Manuel Estrada</h2>
            <h3 id="tit3">Educacion Primaria Completa</h3>
        </li>
        <li>
            <h2 id="educ5">Laboratorio de Idiomas de la UNMdP</h2>
            <h3 id="tit3">3er Nivel de Ingles</h3>
        </li>
    </ul>
</div>
