<div class="Header" id="header">
    <h1>{{miPortfolio.shortname}}</h1>
    <div id="redes" >

        <a 
            href="https://instagram.com/antoniorivero1104?gshid=YmMyMTA2M2Y=">
            <img id="red1" src="assets/imagenes/Instagramr.png" height="31px" width="31px" alt="instagram">   
        </a>

        <a 
            href="https://www.facebook.com/antonio.rivero.5076?mibextid=ZbWKwL">
            <img id="red2" src="assets/imagenes/facebookr.png" height="31px" width="62px" alt="Facebook">   
        </a>

        <a 
            href="https://twitter.com/Rivero11468?t=lozub_mRCzI7GrjtqRpcIA&s=09">
            <img id="red3" src="assets/imagenes/twitterr.jpg" height="32px" width="32px" alt="twitter">   
        </a>

        <a 
            href="https://www.linkedin.com/in/antonio-rivero-4a8b3a69">
            <img id="red4" src="assets/imagenes/linkedinr.jpg" height="32px" width="32px" alt="linkedin">   
        </a>
    </div>
    <div id="logeo">
        
        <!--<a routerLink="/login" > -->
        <a  routerLink="/login"  >    
            <img id="log1" src="assets/imagenes/login.jpg" height="32px" width="32px" alt="login">
            
        </a>

        <a  class="fcc-btn"  href="/"> 
            <img id="log2" src="assets/imagenes/Logout.jpg" height="32px" width="32px" alt="logout">
        </a>
        <div class="formlog">
            <router-outlet></router-outlet>
        </div>
    </div>
    
    
    

  
     
</div>
