<div class="Presentacion" id="present">
    <h2>{{miPresent.nombre}}</h2>
    <p>{{miPresent.acerca}}</p>
<!--    <button type="button" class=" btn btn-primary">
        <img [src]="miPresent.imged">
    </button>
    <button type="button" class=" btn btn-primary"><i class="fa fa-pen"></i></button>
    <img [src]="miPresent.imged" alt="" height="64" >
         <img src="Eliminar.png" alt="" height="16" >
        <img src="editar.jpg" alt="" height="16" inputmode="">
        <img src="Eliminar.png" alt="" height="16" >-->
         
</div>
